.container{
	width: 95%;
	margin: auto;
	text-align: center;
	font-weight: bold;
	font-family: Verdana;
	text-transform: uppercase;
	color:#5b5b5b;
}

h2{
	border-bottom: 2px solid #5b5b5b;
}
input{
	margin-top: 10px;
	margin-bottom: 20px; 
}


ul{
	padding: 0;
}

a{	
	color: #462266;
	text-decoration: none;
	background-color: #ccc;
	padding: 5px 10px 5px 10px;
	border:2px solid #929599;
	border-radius: 5px;
}

a:hover{
	background-color: #97d18e;
}

.avatar{
	display: inline-block;
	color: #eaeaed;
	width: 100px;
	height: 100px;
	margin-right:10px;
	border:1px solid #5b5b5b;
	margin-top:5px;
}
